<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/app-dev.css">
    <link rel="stylesheet" href="/public/style/blog.css">
    <title>Blogs</title>
    
</head>

<body>
    <%- include('layout', { pageTitle: 'Home', enquiryNumber: 'Your Enquiry Number', phoneNumber: 'Your Phone Number' }) %>



        <button class="add-new"><a href="/blog1">Add new Blog</a></button>
        <div class="container">
            <% Blogs.forEach(e=> { %>
                <div class="card">
                    <div class="box" style="flex-grow: 1; overflow: hidden; border-bottom: 2px solid black;">
                        <img src="<%= e.coverImageURL %>" alt="image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= e.title %>
                        </h5>
                        <p class="card-text">
                            Author: <%= e.createdBy %>
                        </p>
                        <p><button class="card-btn"><a href="/blog/<%= e._id %>">View</a></button></p>
                    </div>
                </div>
                <% }) %>
        </div>
        <div class="social-icons">
            <a href="https://whatsapp.com/channel/0029VaLiRFzA89MnjT9O7A0d" target="_blank"><img src="/img/whatsapp.png"
                    alt="Social Media 1" title="img"></a>
            <a href="https://t.me/OnlineOrbitt" target="_blank"><img src="/img/telegram.png"
                    alt="Social Media 2" title="img"></a>
            <a href="https://www.facebook.com/profile.php?id=61555483784827" target="_blank"><img src="/img/facebook.png"
                    alt="Social Media 3" title="img"></a>
            <a href="https://www.instagram.com/onlineorbitt/" target="_blank"><img src="/img/instagram.png"
                    alt="Social Media 3" title="img"></a>
        </div>






        <%- include('footer') %>
        <script src="/scripts/inspect.js"></script>
</body>

</html>